<!DOCTYPE html>
<html lang="en">
{%load static%}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link rel="icon" href="{% static 'Assets/findlyLogo.png'%}" type="image/x-icon">
    <title>Findly - return item</title>
</head>

<body>
    <div class="softBG signin">
        <nav class="nabar-container">
            <div class="top-navbar-containerReturn">
                <a href="{%url 'home'%}"><img src="{%static 'Assets/findlyNobg.png'%}" alt="image not found"
                        class="findlyLogo"></a>
            </div>
        </nav>
        
        <div class="ReturnItemContainer">
            <h1 class="signinTitle">
                Return Item
            </h1>
            {%for message in messages%}
            <div class="signupOrforgotP">
                <a href="{% url 'founditems'%}">
                    <p>{{message}}</p>
                </a>
            </div>
            {%endfor%}
            <form action="" method="POST" enctype="multipart/form-data">
                <div class="returnItemFields">
                    {%csrf_token%}
                    <label for="">Item Type</label><input type="text" name="item_type" class="userinputWrapper" required
                        placeholder="Laptop , Wallet , Student Card">
                    <label for="">Item Description</label><input type="text" name="item_description"
                        class="userinputWrapper" required placeholder="Asus gray laptop">
                    <label for="">Current Location</label><input type="text" name="location_found"
                        class="userinputWrapper" required placeholder="Student administrator , Health science Building">
                    <label for="">Date Found</label><input type="date" name="date_found" class="userinputWrapper"
                        required>
                    <label for="">Upload Image</label><input type="file" name="item_image" id="itemImage">
                    <input type="submit" value="Submit Item" class="Loginbtn">
                </div>
                <br>
                <div class="signupOrforgotP">
                    <a href="{% url 'founditems'%}">
                        <p>View Found Items</p>
                        <a href="{% url 'logout'%}">
                            <p>Logout</p>
                        </a>

                    </a>
                </div>
            </form>


        </div>
    </div>
    <section class="footer">
        <div class="footerContainer">
            <div class="innerfooter">
                <div class="leftfooter">
                    <a href="{% url 'home'%}">
                        <div class="imageLogo">
                        </div>
                    </a>
                </div>
                <!-- <ul class="list">
                    <li class="ListMenu">
                        <a href="#"><i class="bi bi-house-door"></i> Home</a>
                    </li>
                    <li class="ListMenu">
                        <a href="#about"><i class="bi bi-info"></i> About Us</a>
                    </li>
                    <li class="ListMenu">
                        <a href="{% url 'contact' %}"> <i class="bi bi-phone"></i> Contact Us</a>
                    </li>

                </ul>
                <ul class="list">
                    <li class="ListMenu">
                        <i class="bi bi-facebook"></i> Follow Us on Facebook
                    </li>
                    <a href="https://www.instagram.com/18mash_/" target="_blank"><li class="ListMenu">
                        <i class="bi bi-instagram"></i> Follow Us on Instagram
                    </li></a>
                </ul> -->
            </div>
            <hr>
            <p class="rights">©2025 Findly. All Rights Reserved.</p>
    </section>
    <script src="{% static 'script.js'%}"></script>
</body>

</html>